.loginPage {
  background-image: url(../../assets/mobile_background.png);
  height: 100%;
  background-size: cover;

  // &_Content {
  // }
  // &_Form {
  // }

  p {
    font-family: 'Great Vibes', cursive;
  }

  // h1 {
  // }

  h2 {
    font-family: 'Great Vibes', cursive;
  }
}
