.loginPage {
  background-image: url(../../assets/mobile_background.png);
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  &_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
