.dashboard-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

.dashboard-content {
    grid-area: 2 / 2 / 6 / 6;
    width: 100%;
}