.dDayContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  
  &_Count {
    border: solid 1px #000;
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 10px;
  }

  &_days::after {
    content: " J";
  }
  &_hours::after {
    content: " H";
  }
  &_minutes::after {
    content: " M";
  }
  &_seconds::after {
    content: " S";
  }
}
