.dDayContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  &_Count {
    margin: 5px;
    width: 50px;
    height: 50px;
  }

  &_days::after {
    content: "J";
    font-family: "Great Vibes", cursive;
    @media screen and (min-width: 768px) {
      content: "Jours";
    }
  }
  &_hours::after {
    content: "H";
    font-family: "Great Vibes", cursive;
    @media screen and (min-width: 768px) {
      content: "Hours";
    }
  }
  &_minutes::after {
    content: "M";
    font-family: "Great Vibes", cursive;
    @media screen and (min-width: 768px) {
      content: "Minutes";
    }
  }
  &_seconds::after {
    content: "S";
    font-family: "Great Vibes", cursive;
    @media screen and (min-width: 768px) {
      content: "Secondes";
    }
  }
  &_days,
  &_hours,
  &_minutes,
  &_seconds {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
  }
}
